/* *{
    border: 2px solid firebrick;
}  */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rock+Salt&display=swap');

:root{
    /* These are the colors from my site plan */
    --primary-color: #5CD171   ;
    --secondary-color: #9EDFDF ;
    --accent1-color: rgb(199, 157, 16);
    --accent2-color: #396E94;
    --heading-font: "Bebas Neue";
    --paragraph-font: Rock Salt, Helvetica, sans-serif;
}

#content {
max-width: 1600px;
margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: black; 
    text-decoration-line: underline;
    padding: 35px;
}

.button-box {
    text-align: center;
}
.button-box_pg2 {
    text-align: center;
    margin: 40px;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

body {
    background-color: #5CD171;
    font-family: "Bebas Neue";
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
    color: rgb(199, 157, 16);
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #00000029
}

nav a:hover {
    background-color: #9EDFDF;
    color: #605020;
}

.book {
    background-color: #5CD171;
    color: #605020; 
    text-decoration: none;
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join {
    background-color: #9EDFDF;
    color: #605020; 
    text-decoration: none;
    font-size: 15px;
    padding: 10px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #9EDFDF;
    color: #605020;
}

#background {
    background-color: #9EDFDF;
    grid-column: 1/11;
    grid-row: 4/9;
    height: 725px;
}

footer {
    background-color: #9EDFDF;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title {
    color: #605020; 
    font-family: "Bebas Neue";
    font-size: 2em;
    margin-top: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

h4 {
    color: #605020;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 20px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
} 

.msg h2 {
    background-color: #6f7364;
    color: rgb(199, 157, 16);
    font-family: "Bebas Neue";
}

.msg p {
    background-color: #6f7364;
    color: rgb(199, 157, 16);
    font-size: .8em;
    padding-bottom: 15px;
}

footer h3 {
    background-color: #9EDFDF;
    color: #605020;
}

footer a {
    background-color: #9EDFDF;
    color: #605020;
    text-decoration: none;
}

footer a:hover {
    background-color: #9EDFDF;
    color: #396E94;
}

footer .social img {
    padding-top: 15px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero, #hero_pg2 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box, #hero-box_pg2 {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img, #hero-img2 {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h2 {
    text-align: center;
    color: #605020
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #605020
}

footer h3 a:hover {
    text-decoration: underline;
}

.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img {
    border: 10px solid #605020;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #605020;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px;
    width: 100%;
}

.card-img {
    width: 100%;
}

/* Page 2 Edits */

#content2 {
    max-width: 1600px;
    margin: 0 auto;
    }

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.idaho {
    grid-column: 2/3;
    text-align: center;
}
.background2 {
    background-color: #9EDFDF;
    grid-column: 2/3;
    grid-row: 4/5;
    height: 725px;
}

.img_review1 {
    grid-column: 2/3;
    box-shadow: 5px 5px 10px #605020;
}
.review1 {
    background-color: #6f7364;
    color: rgb(199, 157, 16);
    font-size: 1.4em;
    padding: 1px;
    grid-column: 2/3;
    box-shadow: 5px 5px 10px #605020;
}
.review1 p {
    text-align: center;
    margin: 5px auto;
}

.img_review2 {
    grid-column: 2/3;
    box-shadow: 5px 5px 10px #605020;
}
.review2 {
    background-color: #6f7364;
    color: rgb(199, 157, 16);
    font-size: 1.4em;
    padding: 1px;
    grid-column: 2/3;
    box-shadow: 5px 5px 10px #605020;
}
.review2 p {
    text-align: center;
    margin: 5px auto;
}


.utah {
    grid-column: 4/5;
    text-align: center;
}

.img_review3 {
    grid-column: 4/5;
    box-shadow: 5px 5px 10px #605020;
}
.review3 {
    background-color: #6f7364;
    color: rgb(199, 157, 16);
    font-size: 1.4em;
    padding: 1px;
    grid-column: 4/5;
    box-shadow: 5px 5px 10px #605020
}
.review3 p {
    text-align: center;
    margin: 5px auto;
}
.img_review4 {
    grid-column: 4/5;
    box-shadow: 5px 5px 10px #605020;
}
.review4 {
    background-color: #6f7364;
    color: rgb(199, 157, 16);
    font-size: 1.4em;
    padding: 1px;
    grid-column: 4/5;
    box-shadow: 5px 5px 10px #605020;
}
.review4 p {
    text-align: center;
    margin: 5px auto;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}