
/* *{
    border: 2px solid firebrick;
} */

*{
    background-color: rgb(236, 167, 205);
}

h1 {
    color: white;
    text-align: center;
    width: 80%;
    margin: 20px auto; 
    
}

h1:hover{
    background-color: rgb(236, 167, 205);
    color: black;
}
h4{
    color: white;
    text-align: center;
    width: 80%;
    margin: 0px auto;
    padding: 0px;
    font-weight: lighter;
}

h3 {
    color: white;
    text-align: center;
    width: 80%;
    margin: 20px auto;
    font-weight: bold;

}

ol {
    color: black;
    text-align: left;
    width: 80%;
    margin: 20px auto;
    font-weight: bold;
    text-indent: 20%;
}

img {
    width: 20%;
    display: block;
    margin: 0 auto;
}

h2{
    color: white;
    text-align: center;
    width: 40%;
    margin: 30px auto;
    font-weight: 500;
}

footer p {
    color: black;
    padding: 0px;
    width: 33%;
    text-align: center;
    margin: 0px auto;
}
