/* *{
    border: 2px solid firebrick;
}  */

@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&family=Roboto+Condensed:wght@300&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #6096BA;
  --secondary-color: #A3CEF1;
  --accent1-color: #274C77;
  --accent2-color: #E7ECEF;
  --accent3-color: #8B8C89;
  --heading-font: "Charis SIL";
  --paragraph-font: Roboto Condensed, Helvetica, sans-serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* * {
    margin: 0;
    } */

/* This changes the whole background color of the page */
body {
    
    background-color: #A3CEF1;
}

/* This portion edits the header section of my page only */
.header-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}
header {
    background-color: #6096BA;
    margin: 20px auto;
}

/* This edits my name and logo only */
header H1 {
    font-size: 350%;
    font-family: "Charis SIL";
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;

}
header img {
    width: 50%;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 70%;
}

/* This edits the quote section only */
#quote  {
    grid-column: 2/4;
    grid-row: 1/2;
    text-align: center;
    font-size: x-large;
    font-family: Roboto Condensed;
    width: 70%;
    background-color: #274C77;
    color: #E7ECEF;
    padding: 10px;
}
#quote-img  {
    grid-column: 2/4;
    grid-row: 2/3;
    padding: 10px;
    width: 50%;
    
    }

/* This edits the buttons section only */
nav {
    grid-column: 4/5;
    grid-row: 1/3;
}
nav a, .footer-block a {
    text-align: center;
    color: #E7ECEF;
    font-family: Roboto Condensed;
}
.block, .footer-block a {
    display: block;
    width: 90px;
    background-color: #274C77;
    padding: 15px 30px;
    font-size: x-large;
    text-align: center;
    margin: 20px auto;
    animation: blink 3s ease-in-out infinite;}@keyframes blink 
    {0% {opacity: 0.3;}25% {opacity: 0.6;}50% {opacity: 1.0;}75% {opacity: 0.6;}100% {opacity: 0.3}}

 /* This edits the about me section */
#about {
    background-color: #6096BA;
    margin: 20px auto;
    padding: 20px;
    height: auto;
}
#aboutme {
    float: left;
}
#about-msg h2 {
    text-align: center;
    font-size: xxx-large;
}
#about-msg {
    font-family: Roboto Condensed;
    font-size: large;
    background-color: #274C77;
    color: #E7ECEF;
    padding: 10px;
}
#about-msg p {
    padding: 20px;
    line-height: 1.5em;
}
#aboutme img {
    margin: 20px 20px 0 20px
}

/* This edits the Projects section */
#projects h2 {
    justify-items: center;
    text-align: center;
    font-size: 60px;
    color: #274C77;
}
.projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #274C77;
    padding: 10px; 
}
.projects-grid p {
    font-family: Roboto Condensed;
    font-size: large;
    color: #E7ECEF;
}

#project1 {
    grid-column: 1/2;
    float: left;
    width: 60%; 
    padding: 5px;
}

#project2 {
    grid-column: 2/3;
    float: left;
    width: 60%;
    padding: 5px;
}

#project3 {
    grid-column: 1/2;
    float: left;
    width: 60%;
    padding: 5px;
}

#project4 {
    grid-column: 2/3;
    float: left;
    width: 60%;
    padding: 5px;
}

/* This edits the footer section */
.footer-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}
footer {
    background-color: #6096BA;
    margin: 20px auto;
}
/* .footer-block {
    display: block;
    width: 100%;
    background-color: #274C77;
    padding: 15px 30px;
    font-size: x-large;
    text-align: center;
    animation: blink 3s ease-in-out infinite;}@keyframes blink 
    {0% {opacity: 0.3;}25% {opacity: 0.6;}50% {opacity: 1.0;}75% {opacity: 0.6;}100% {opacity: 0.3}} */


/* Contact Me form CSS */
#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #E7ECEF;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}