
/* *{
    border: 2px solid firebrick;
} */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
body {
    font-family: Roboto, serif; 
    margin: 0px;
}

nav, footer {
    background-color: steelblue;
    padding: 25px;
    text-align: center;
}

nav a{
    color: black;
    /* margin: 70px; */
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    background-color: steelblue;
}

/* a:hover is called below with #active since they use the same color schema */
/* a:hover{
    background-color: white;
    color: steelblue;
} */

/* main styles */
h1{
    color: steelblue;
    text-align: center;
    font-family: "Rock Salt, Bradley Hand", cursive;
    margin: 50px 0;
}

img {
    width: 80%;
    border: 4px solid steelblue; 
    display: block;
    margin: 0 auto;
    border-radius: 9px;
    box-shadow: 15px 15px 10px #ccc;
}

p {
    padding: 10px;
    width: 80%;
    text-align: center;
    margin: 50px auto;
}

/* this is calling the html class: main-para from html: line 19 */
.main-para {
    font-size: 1.5em;
}

/* this is calling the html id: active from html: line 10 */
/* In css line 19-22 since a:hover uses the same color scheme you can simply do , a:hover so you don't have to repeat yourself. */
a:hover {
    background-color: steelblue;
    color: yellow;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
    color: white;
}